
launcher/libraries/

jre/

game/libraries/

game/servers.dat

game/servers.dat.bak

game/assets/

game/.fabric/
*.dat_old
*.log
TL-FNAFSHIELD.zip
game/tlauncher_profiles.json
game/tlauncher_profiles.json
